*{
  margin: 0;
  padding: 0;
}

.sectionwave{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(HRIS.png);
  overflow: hidden;
}

.sectionwave .wave1{
  position: absolute;
  bottom: 10;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/awan/Asset1.png);
  background-size: 1000px 100px;
}

.sectionwave .wave2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(awan/Asset2.png);
  background-size: 1000px 100px;
}

.sectionwave .wave3{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(awan/Asset3.png);
  background-size: 1000px 100px;
}

.sectionwave .wave4{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(awan/Asset4.png);
  background-size: 1000px 100px;
}

.sectionwave .wave1.wave1{
  animation: animatewave 45s linear infinite;
  z-index: 1000000;
  opacity: 0.3;
  animation-delay: 0s;
  bottom: 0;
}

.sectionwave .wave2.wave2{
  animation: animatewave2 15s linear infinite;
  z-index: 999999;
  opacity: 0.2;
  animation-delay: 0s;
  bottom: 10px;
}

.sectionwave .wave3.wave3{
  animation: animatewave3 20s linear infinite;
  z-index: 999998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.sectionwave .wave4.wave4{
  animation: animatewave4 12s linear infinite;
  z-index: 9997;
  opacity: 0.4;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animatewave 
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animatewave2 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}

@keyframes animatewave3 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}

@keyframes animatewave4 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}
