*{
  margin: 0;
  padding: 0;
}

.sectionwave{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
}

.sectionwave .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

.sectionwave .wave.wave1{
  animation: animatewave 45s linear infinite;
  z-index: 1000000;
  opacity: 0.7;
  animation-delay: 0s;
  bottom: 0;
}

.sectionwave .wave.wave2{
  animation: animatewave2 15s linear infinite;
  z-index: 999999;
  opacity: 1;
  animation-delay: 0s;
  bottom: 10px;
}

.sectionwave .wave.wave3{
  animation: animatewave3 20s linear infinite;
  z-index: 999998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.sectionwave .wave.wave4{
  animation: animatewave4 12s linear infinite;
  z-index: 9997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animatewave 
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animatewave2 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}

@keyframes animatewave3 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}

@keyframes animatewave4 {
  0%{
    background-position-x: 0;
  }100%{
    background-position-x: 1000px;
  }
}